<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h2 style="text-align: center;" >Zutaten</h2>

        <h3>Hopfen:</h3>
        <span>Handgefplückter Naturhopfen aus eigenem Anbau</span>
        <h3>Sorten:</h3>
        <ul>
            <li>Merkur</li>
            <li>Perle</li>
            <li>Smaragd</li>
            <li>Target</li>
            <li>Hersbrucker</li>
            <li>Mandarina Bavaria</li>
        </ul>
        <h3>Wasser:</h3>
        <span>Frisches Quellwasser</span>

        <h3>Malz:</h3>
        <span>Vorwiegend helles Pilsner Malz</span>

        <h3>Hefe:</h3>
        <span>Hochwertige untergärige Hefe "Saccarormyces Carlsbergensis"</span>

        <h3>Gärtemperatur:</h3>
        <span>Sehr Wichtig bei der Vergärung ist die richtige gärtempeatur um, schlechte Alkohole zu Vermeiden.</span>
        <h3>Zeit:</h3>
        <span>Zeit ist die Zutat die von den meisten unterschätzt wird Das Beginnt bei den Koch- und Rastzeiten, beider Vergärung bei der Lagerung und zu guter letzt beim "Genus" </span>

    </div>

    <div class="side_content"></div>
</div>

