<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h1 style="text-align: center;" >Impressum</h1>
        <span>
DAS KORREKTE WEBSITE IMPRESSUM
In Österreich befassen sich mehrere Gesetze mit der sogenannten „Impressumspflicht“ für
Websites. Die einzelnen Gesetze verwenden dabei unterschiedliche Bezeichnungen für die
jeweiligen Informationspflichten. So ein Gesetz jedoch keine konkrete andere Bezeichnung
vorsieht, wird im Folgenden der Einfachheit halber immer vom „Impressum“ gesprochen.
Die einzelnen Gesetze haben auch unterschiedliche Anwendungsbereiche.
Beispielsweise gilt die betreffende Bestimmung im Unternehmensgesetzbuch (§ 14 UGB) nur
für ins Firmenbuch eingetragene Unternehmen; die betreffende Bestimmung in der
Gewerbeordnung (§ 63 GewO) gilt nur für Gewerbetreibende, die nicht ins Firmenbuch
eingetragen sind; die betreffenden Bestimmungen im Mediengesetz (Offenlegung gem. § 25
MedienG) stellen wiederum auf den Inhalt der Website ab. Dazu kommen noch die
Bestimmungen des E-Commerce-Gesetzes (§ 5 ECG), die für sämtliche kommerzielle
Websites gelten.
Die Bestimmungen gelten für jede Form von elektronischen Inhalten und daher auch in
sozialen Medien wie z.B. XING, facebook und twitter, aber auch für Apps (auch wenn in der
Folge vereinfachend nur von Websites gesprochen wird).
Impressumspflichten nach dem UGB und der GewO
Da sich die Impressumspflichten des UGB und der GewO ergänzen (§ 14 UGB gilt für ins
Firmenbuch eingetragene Unternehmen; § 63 GewO gilt für nicht ins Firmenbuch
eingetragene Gewerbebetriebe), können die Impressumsangaben wie folgt zusammengefasst
werden:
• Name bzw. Firma laut Firmenbuch (bei Einzelunternehmen beides, falls nicht ident)
• Rechtsform (nur bei im Firmenbuch eingetragenem Unternehmen notwendig;
gegebenenfalls mit Zusatz „in Liquidation“)
• Sitz laut Firmenbuch bzw. Standort der Gewerbeberechtigung
• Firmenbuchnummer (falls vorhanden)
• Firmenbuchgericht (falls vorhanden)
• falls Angaben über das Gesellschaftskapital gemacht werden: Stammkapital bzw.
Grundkapital und Betrag nicht einbezahlter Einlagen
Eine inländische Zweigniederlassung einer ausländischen Gesellschaft hat neben den
Angaben der im Ausland befindlichen Hauptniederlassung (Firma, Rechtsform allenfalls mit
Liquidationszusatz, Sitz, Firmenbuchnummer, Firmenbuchgericht) auch die Firma, die
Firmenbuchnummer und das Firmenbuchgericht der inländischen Zweigniederlassung
anzugeben (§ 14 Abs 3 UGB).
Zweigniederlassungen inländischer Unternehmen haben auf ihren Geschäftspapieren den
(allenfalls abweichenden) Firmenwortlaut der Zweigniederlassung und die für die
Hauptniederlassung vorgesehenen Angaben anzuführen.
Achtung:
Bei allen Personengesellschaften, bei denen keine natürliche Person voll haftet (z.B. GmbH
und Co KG) müssen die Angaben sowohl für die KG als auch für die GmbH gemacht werden.
4
Weiterführende Detailinformationen:
Informationspflichten für E-Mails und Websites nach dem UGB
Informationspflichten für E-Mails und Websites nach der GewO
Impressumspflichten nach dem ECG
Die allgemeinen Informationspflichten des ECG sind auf alle „kommerziellen Websites“
anzuwenden, damit auf alle unternehmerisch betriebenen Websites, völlig unabhängig
davon, ob dort Waren vertrieben werden oder ob bloß das eigene Unternehmen dargestellt
wird.
Das ECG kennt folgende, über das UGB bzw. die GewO hinausgehende Informationspflichten
(§ 5 ECG):
• Volle geografische Anschrift der tatsächlichen Niederlassung (für behördliche und
gerichtliche Zustellungen taugliche Anschrift)
• Kontaktdaten inkl. E-Mail, über die ein Nutzer unmittelbar und rasch in Verbindung
treten kann (mindestens zwei, z.B. E-Mail plus Telefon oder Web-Formular; für
Webshops müssen nach dem Fern- und Auswärtsgeschäfte-Gesetz – FAGG – jedenfalls
eine Telefonnummer und eine E-Mail-Adresse bekanntgegeben werden)
• Mitgliedschaft(en) bei der Wirtschaftskammerorganisation
• Aufsichtsbehörde (wenn die Tätigkeit einer behördlichen Aufsicht unterliegt; es wird
empfohlen, in jedem Fall die jeweilige Gewerbebehörde bzw. sonstige die
Berufsbewilligung ausstellende Behörde anzugeben)
• Hinweis auf anwendbare gewerbe- oder berufsrechtliche Vorschriften (empfohlene
Angabe für gewerbliche Tätigkeiten: i.d.R. die GewO)
• Zugang zu anwendbaren gewerbe- oder berufsrechtlichen Vorschriften (z.B. Link auf
www.ris.bka.gv.at oder direkt auf die Gewerbeordnung)
Sofern vorhanden:
• spezielle Berufsbezeichnung
Unter Berufsbezeichnung wird im jeweiligen Musterimpressum im Anhang auch der
Meistertitel angeführt; dies ist jedoch keine zwingend anzugebende Berufsbezeichnung
i.S.d. ECG.
• Staat, in dem diese Berufsbezeichnung verliehen wurde
• UID-Nummer
Weiterführende Detailinformationen:
Informationspflichten nach dem E-Commerce-Gesetz
Offenlegungspflicht nach dem Mediengesetz
Für sämtliche Websites, private wie kommerzielle, gelten zusätzlich zu ECG und UGB/GewO
noch spezielle Offenlegungspflichten nach dem MedienG. Die Angaben nach dem
Mediengesetz können gemeinsam mit den sonstigen Impressumsvorschriften gemacht
werden. Das MedienG unterscheidet danach, ob eine „große Website“ oder eine „kleine
Website“ vorliegt.
5
Eine „große Website“ liegt vor, wenn der Informationsgehalt über die Präsentation des
Unternehmens hinausgeht und geeignet ist, die Meinungsbildung zu beeinflussen. Alle
anderen Websites sind „kleine Websites“. Websites, die sich auf die (Werbe-) Präsentation
des Unternehmens selbst oder seiner Leistungen oder Produktebeschränken, gelten als
kleine Websites. Auch der einfache Webshop ohne redaktionelle Beiträge unterliegt daher
nicht der vollen, sondern nur einer eingeschränkten Offenlegungspflicht (kleine Website).
Beispiel:
Der Webshop einer Tischlerei, die ausschließlich für ihre Produkte und Dienstleistungen
wirbt, ist eine kleine Website. Werden jedoch über diese Werbung hinausgehende
meinungsbildende Inhalte, wie etwa allgemeine Kritik an der Verwendung bestimmter
Holzsorten, vermittelt, so ist die Website als „groß“ zu klassifizieren und muss eine „große“
Offenlegung aufweisen.
Ein Webshop mit der Möglichkeit der Bewertung von Produkten oder Verkäufern
überschreitet ebenso wenig die Grenze zur „großen“ Website wie die Einrichtung eines
Gästebuches als Feedbackmöglichkeit zu den Produkten und Leistungen eines
Unternehmens. Ein Grenzfall ist dagegen eine Website z.B. eines Hotels, die auch auf
regionale Sehenswürdigkeiten hinweist. Besser wären daher anstelle eigener Beiträge Links
auf entsprechende Seiten.
Auf kleinen Websites sind anzugeben (kleine Offenlegungspflicht gem. § 25 Abs 5 MedienG):
• Name/Firma des Medieninhabers (in der Regel der Inhaber/Betreiber der Website)
• Unternehmensgegenstand des Medieninhabers
• Wohnort/Sitz des Medieninhabers
Auf großen Websites ist zusätzlich anzugeben (große Offenlegungspflicht, § 25 Abs 2, 3 und
4 MedienG):
• Erklärung über die grundlegende Richtung des Mediums („Blattlinie“; darunter wird die
grundlegende Ausrichtung der Website verstanden, z.B.: „Information über Waren und
Dienstleistungen des Unternehmens, sowie Förderung des Absatzes derselben“)
• Firma/Sitz/Unternehmensgegenstand jedes Medienunternehmens, an dem eine der
anzugebenden Personen beteiligt ist (ein Medienunternehmen ist ein Unternehmen, das
die inhaltliche Gestaltung eines Mediums zum Hauptzweck hat; der bloße Betrieb eines
Webshops oder eines Unternehmens-Newsletters macht ein Unternehmen noch nicht
zum Medienunternehmen)
• Bei allen juristischen Personen und Personengesellschaften: vertretungsbefugte Organe
(z.B. Geschäftsführer/Vorstandsmitglieder) sowie Mitglieder des Aufsichtsrates
• Bei Gesellschaften: alle direkten und indirekten Gesellschafter mit Eigentums-
Beteiligungs-, Anteils-, und Stimmrechtsverhältnissen inkl. Treuhandverhältnissen und
stillen Beteiligungen (gilt grundsätzlich auch für AG)
• Bei Vereinen: Vorstand und Vereinszweck
• Bei Stiftungen: Stifter und Begünstigte
• Sind die anzugebenden Gesellschafter Ihrerseits wieder Gesellschaften, so sind auch
deren Gesellschafter entsprechend anzuführen. Sind auch dies wieder Gesellschaften,
so sind auch deren Gesellschafter entsprechend anzugeben usw.
6
Bei den anzugebenden Gesellschaftern der Muttergesellschaft müssen nicht wiederum
alle Angaben (Geschäftsführer bzw. Vorstand, Aufsichtsrat, Unternehmensgegenstand,
Standort) gemacht werden, sondern es genügt die Firma bzw. der Name, sowie
wiederum die Beteiligungsverhältnisse inkl. Treuhandverhältnissen und stillen
Beteiligung.
Sind die Gesellschafter der Muttergesellschaft ihrerseits Gesellschaften, so sind auch
deren Gesellschafter namentlich anzuführen usw. Das gilt sinngemäß für alle
juristischen Personen und Beteiligungsformen.
Weiterführende Detailinformationen:
Informationspflichten nach dem Mediengesetz für Websites.
Das ECG-Service von wko.at
Am einfachsten können Sie die Impressumsvorschriften nach ECG, GewO, UGB und die
Offenlegungsbestimmungen nach dem MedienG mit Hilfe des Firmen A-Z der
Wirtschaftskammerorganisation einhalten. Einfach das Firmen A-Z unter firmen.wko.at
aufrufen und mit den Zugangsdaten von Ihrem Benutzerkonto einloggen (den Button dazu
finden Sie rechts oben). Im Bearbeitungsmodus finden Sie im Menüpunkt „Service“ den
Button „E-Commerce-Gesetz (ECG)“. Wenn Sie alle Pflichtfelder ausgefüllt haben und Ihre
Website mit Ihrem Eintrag im Firmen A-Z verlinken, haben Sie alle gesetzlich
vorgeschriebenen Impressums- und Offenlegungsangaben berücksichtigt.
Achtung:
Das ECG-Service ist ein zusätzliches Angebot. Das Impressum sollte nicht nur verlinkt,
sondern jedenfalls auf der eigenen Website direkt veröffentlicht werden.
Wenn Sie noch Fragen zu Ihrem Benutzerkonto oder zum Editieren Ihrer Daten haben, hilft
Ihnen unsere kostenlose WKO Serviceline (T 0800 221 221, E-Mail benutzerkonto@wko.at)
gerne weiter. Unter wko.at/benutzerkonto stehen alle Informationen zum Benutzerkonto
zur Verfügung.
Tipp:
Nutzen Sie das ECG-Service von wko.at auch dann, wenn Sie bereits ein Impressum haben.
Es steht allen Wirtschaftskammer-Mitgliedern kostenlos zur Verfügung und stellt durch den
Link auch für Besucher Ihrer Website deutlich erkennbar sicher, dass Sie keine Pflichtangabe
vergessen haben.
Weiterführende Detailinformationen:
WKO Firmen A-Z: Ihr Auftritt im österreichischen Unternehmensverzeichnis
Anwendbares Recht
Nach dem E-Commerce-Gesetz ist für Impressumsvorschriften das Recht jenes Staates
anwendbar, in dem der Websitebetreiber seinen Sitz hat (§ 20 ECG, Herkunftslandprinzip).
Dennoch empfiehlt es sich zur Absicherung, auch die Rechtsordnung jener Staaten zu
berücksichtigen, mit denen besonders häufig in Kontakt getreten wird. So hat Deutschland
beispielsweise zwar sehr ähnliche Impressumsvorschriften, verlangt aber die Angabe der/des
Geschäftsführer(s) nicht nur bei großen Websites.
Tipp:
Bei international agierenden Unternehmen empfiehlt es sich daher, zur Sicherheit zusätzlich
Geschäftsführer bzw. Vorstand anzugeben.
7
Im jeweiligen Musterimpressum im Anhang wurde der Geschäftsführer bzw. Vorstand nur in
jenen Fällen berücksichtigt, in welchen er nach österreichischem Recht angegeben werden
muss.
Informationspflichten nach der Datenschutz-Grundverordnung (DSGVO)
Datenschutzerklärung nach dem Telekommunikationsgesetz (TKG) | Cookies
Betreiber von kommerziellen Webseiten haben die Benutzer darüber zu informieren, welche
personenbezogenen Daten sie ermitteln, verarbeiten und übermitteln, auf welcher
Rechtsgrundlage und für welche Zwecke dies erfolgt und für wie lange die Daten gespeichert
werden (§ 165 TKG 2021).
Der Informationspflicht nach TKG kann auch durch Aufnahme einer Datenschutzerklärung
im Impressum nachgekommen werden. Sinnvoller ist eine gemeinsame Zurverfügungstellung
mit den allgemeinen Informationspflichten nach der Datenschutz-Grundverordnung
(DSGVO). Danach müssen die Informationen jederzeit „klar und leicht zugänglich“ sein. Es
empfiehlt sich deshalb, keine Veröffentlichung bloß im Impressum vorzunehmen, sondern im
Rahmen einer eigenen Datenschutzrubrik (z.B. in einer eigenen „Datenschutzerklärung“ oder
in einem Button „Privacy Policy“).
Achtung:
Der Hinweis im Impressum alleine ist auch nach Ansicht des Europäischen Datenschutz-
Ausschusses (EDSA), einem europäischen Datenschutzgremium, nicht ausreichend, weil die
Information an „prominenter Stelle“ zu finden sein sollte.
Weiterführende Detailinformationen:
EU-Datenschutz-Grundverordnung: Informationspflichten
Datenverarbeitung im Webshop/auf der Website - Einwilligungserklärungserklärung – Cookies
– Datenschutzerklärung
Informationspflichten nach dem Dienstleistungsgesetz (DLG)
Nach dem DLG hat jeder Dienstleistungserbringer dem Dienstleistungsempfänger bestimmte
Informationen klar, verständlich und eindeutig vor Abschluss des Vertrages oder, wenn kein
schriftlicher Vertrag geschlossen wird, vor Erbringung der Dienstleistung
• mitzuteilen oder
• am Ort der Leistungserbringung bzw. des Vertragsabschlusses oder über eine
elektronische Adresse leicht zugänglich bereitzuhalten, oder
• in allen ausführlichen Informationsunterlagen über die angebotene Dienstleistung
anzuführen.
Zusätzlich zu den bereits nach anderen gesetzlichen Vorschriften zu erteilenden
Informationen verlangt das DLG folgende Angaben:
• sofern eine gesetzlich vorgeschriebene Berufshaftpflichtversicherung besteht, Angaben
hierzu, insbesondere den Namen und die Kontaktdaten des Versicherers und den
räumlichen Geltungsbereich.
Aus dem gewerblichen Bereich (Anwendungsbereich der GewO) betrifft dies folgende
Gewerbe: Baumeister (§ 99 GewO), Immobilientreuhänder (§ 117 GewO), Vermögensberater
(§ 136a GewO), Versicherungsvermittlung (§ 137c), Personenbeförderung mit Anhänger
(§ 156 GewO). Die Notwendigkeit einer Berufshaftpflichtversicherung kann sich auch aus
anderen berufsrechtlichen Vorschriften ergeben.
8
Da die Angaben nur wenige Gewerbe betreffen und auch nicht zwingend im Impressum
gemacht werden müssen, werden sie im Muster-Impressum nicht berücksichtigt.
Informationspflichten für den Online-Vertrieb nach der ODR-Verordnung
Hinweis:
Die EU-Verordnung über Online-Streitbeilegung (ODR-Verordnung) wurde mit Wirkung vom
20. Juli2025 aufgehoben.
Der bis dahin erforderliche Hinweis auf die Online-Streitbeilegungsplattform und der Link
dorthin (http://ec.europa.eu/odr) sollten von den Webseiten entfernt werden.
Im jeweiligen Musterimpressum ist der Hinweis daher nicht mehr enthalten.
Weiterführende Detailinformationen zur Aufhebung der ODR-Verordnung:
Alternative Streitbeilegung – EU-Verordnung über Online-Streitbeilegung (ODR-VO)
aufgehoben
Hinweise zum Musterimpressum
In den folgenden Beispielen wurden Standard-Konstellationen angenommen. Besonderheiten
wie Treuhandschaften oder stille Beteiligungen wurden nicht berücksichtigt.
Da für Webshops nach dem FAGG jedenfalls eine Telefonnummer und eine E-Mail-Adresse
bekanntgegeben werden müssen, wird dies im Muster generell so vorgeschlagen. Damit sind
auch die Vorschriften des ECG erfüllt.
In den folgenden Beispielen wurde der Geschäftsführer bzw. Vorstand nur in jenen Fällen
berücksichtigt, in welchen er nach österreichischem Recht angegeben werden muss.
Unter Berufsbezeichnung wird in den folgenden Beispielen auch der Meistertitel angeführt;
dies ist jedoch keine zwingend anzugebende Berufsbezeichnung i.S.d. ECG.
Die Informationspflichten nach dem TKG und nach der DSGVO wurden in die folgenden
Beispiele nicht gesondert eingearbeitet, weil die Angaben je nach Webseiten-Gestaltung
stark variieren können und außerdem eine gesonderte Datenschutzerklärung gemeinsam mit
den Infopflichten der DSGVO empfohlen wird.
Dies ist ein Produkt der Zusammenarbeit aller Wirtschaftskammern.
Bei Fragen wenden Sie sich bitte an die Wirtschaftskammer Ihres Bundeslandes:
Burgenland, Tel. Nr.: 05 90907, Kärnten, Tel. Nr.: 05 90904, Niederösterreich Tel. Nr.: (02742) 851-0,
Oberösterreich, Tel. Nr.: 05 90909, Salzburg, Tel. Nr.: (0662) 8888-0, Steiermark, Tel. Nr.: (0316) 601-0,
Tirol, Tel. Nr.: 05 90905-1111, Vorarlberg, Tel. Nr.: (05522) 305-0, Wien, Tel. Nr.: (01) 51450-1010.
Hinweis! Diese Information finden Sie auch im Internet unter https://wko.at/. Alle Angaben erfolgen trotz sorgfältigster
Bearbeitung ohne Gewähr. Eine Haftung der Wirtschaftskammern Österreichs ist ausgeschlossen.
Dieses Dokument verwendet vorwiegend Fachbegriffe. Diese werden nicht gegendert!
Bei allen personenbezogenen Bezeichnungen gilt die gewählte Form für alle Geschlechter!
9
Musterimpressum für ein nicht im Firmenbuch eingetragenes Einzelunternehmen
(Beispiel: Tischler)
Impressum: Beispiel:
• Name Max Muster
• Standort der Gewerbeberechtigung bzw.
volle geografische Anschrift
4711 Musterdorf
Musterstraße 12 | Austria
• Unternehmensgegenstand Tischlerei
• Kontaktdaten (Tel, E-Mail) Tel: +43 XXX XXXX
E-Mail: email@server.domain
• UID-Nummer UID-Nr: ATU12345678
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung
• Verleihungsstaat
Meisterbetrieb, Meisterprüfung abgelegt in
Österreich
[Zusatz für große Website]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
10
Musterimpressum für ein im Firmenbuch eingetragenes Einzelunternehmen (e.U.)
(Beispiel: Tischler)
Impressum: Beispiel:
• Firmawortlaut bzw. Name des
Einzelunternehmers (wenn nicht mit
Firma ident)
Holzprofi e.U.
Inhaber Max Muster
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich)
Eingetragenes Einzelunternehmen
• Unternehmensgegenstand des
eingetragenen Einzelunternehmens
Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• volle geografische Anschrift Musterstraße 12 | Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 XXX XXXX
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung
• Verleihungsstaat
Meisterbetrieb, Meisterprüfung abgelegt in
Österreich
[Zusatz für große Website]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
11
Musterimpressum für OG (Beispiel: Tischler)
Impressum Beispiel
• Firmawortlaut Holzprofi OG
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich
Offene Gesellschaft
• Unternehmensgegenstand Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• volle geografische Anschrift Musterstraße 12 | Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 XXX XXXX
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung
• Verleihungsstaat
Meisterbetrieb,
Meisterprüfung abgelegt in Österreich
[Zusatz für große Website]
• [vertretungsbefugte Gesellschafter] [vertretungsbefugte Gesellschafter: Max
Muster, Moritz Muster]
• [Beteiligungsverhältnisse] [Gesellschafter Max Muster (50 %), Moritz
Muster (50 %)]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
12
Musterimpressum für KG (Beispiel: Tischler)
Impressum Beispiel
• Firmawortlaut Holzprofi KG
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich
Kommanditgesellschaft
• Unternehmensgegenstand Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• volle geografische Anschrift Musterstraße 12 | Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 XXX XXXX
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung
• Verleihungsstaat
Meisterbetrieb,
Meisterprüfung abgelegt in Österreich
[Zusatz für große Website]
• [vertretungsbefugte Gesellschafter] [vertretungsbefugte und persönlich
haftender Gesellschafter:
• [Beteiligungsverhältnisse] Max Muster 50 %],
[Kommanditgesellschafter: Moritz Muster
50 %]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammen bei kleiner Website nicht notwendig]
13
Musterimpressum für GmbH (Beispiel: Tischler)
Impressum Beispiel
• Firmawortlaut Holzprofi GmbH
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich
Gesellschaft mit beschränkter Haftung
• Unternehmensgegenstand Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• Volle geografische Anschrift Musterstraße 12 I Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 xxx xxxx
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• Anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung Meisterbetrieb
• Verleihungsstaat Meisterprüfung abgelegt in Österreich
[Zusatz für große Website]
• [Geschäftsführer] [Geschäftsführer: Max Muster]
• [Beteiligungsverhältnisse] [Gesellschaftsanteile: Max Muster (50 %),
Moritz Muster (50 %)]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
14
Musterimpressum für GmbH & Co KG (Beispiel: Tischler)
Impressum Beispiel
• Firmawortlaut Holzprofi GmbH & Co KG
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich
Kommanditgesellschaft
• Unternehmensgegenstand Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• Volle geografische Anschrift Musterstraße 12 I Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 xxx xxxx
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• Anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung Meisterbetrieb
• Verleihungsstaat Meisterprüfung abgelegt in Österreich
• persönlich haftende Gesellschafter
(Komplementär) der GmbH & Co KG:
persönlich haftender Gesellschafter:
[(60%)]:
o Firmawortlaut der GmbH Holzprofi GmbH
o (Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich)
Gesellschaft mit beschränkter Haftung
[Gesellschafter Max Muster (50%); Moritz
Muster (50%)]
o Firmensitz der GmbH Sitz: 4711 Musterdorf
o Firmenbuchnummer der GmbH FN: 654321x
o Firmenbuchgericht der GmbH FB-Gericht: Musterstadt
[Zusatz für große Website]
• [Geschäftsführer]
• [Beteiligungsverhältnisse]
• [Blattlinie]
[Geschäftsführer: Max Muster]
[Kommanditgesellschafter Max Muster
(20%), Moritz Muster (20%)]
[Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
15
Musterimpressum für AG (Beispiel: Tischler)
Impressum Beispiel
• Firmawortlaut Holzprofi AG
(Rechtsform nicht unbedingt
erforderlich, da ohnehin im
Firmawortlaut ersichtlich
Aktiengesellschaft
• Unternehmensgegenstand Tischlerei
• UID-Nummer UID-Nr: ATU12345678
• Firmenbuchnummer FN: 123456a
• Firmenbuchgericht FB-Gericht: Musterstadt
• Firmensitz Sitz: 4711 Musterdorf
• Volle geografische Anschrift Musterstraße 12 I Austria
• Kontaktdaten (Tel, E-Mail) Tel: +43 xxx xxxx
E-Mail: email@server.domain
• Mitgliedschaften bei der
Wirtschaftskammerorganisation
Mitglied der WKÖ, WKNÖ, Landesinnung
Tischler, Bundesinnung Tischler
• Anwendbare Rechtsvorschriften und
Zugang dazu
Berufsrecht:
Gewerbeordnung: www.ris.bka.gv.at
• Aufsichtsbehörde/Gewerbebehörde Bezirkshauptmannschaft Musterstadt
• Berufsbezeichnung Meisterbetrieb
• Verleihungsstaat Meisterprüfung abgelegt in Österreich
[Zusatz für großer Website]
• [Vorstand] [Vorstand: Max Muster]
• [Aufsichtsrat] [Aufsichtsräte: Mike Muster, Maria
Muster, Martha Muster]
• [Beteiligungsverhältnisse] [Aktionäre: Manfred Muster (50 %), Moritz
Muster (30 %)], Michaela Muster (20%)]
• [Blattlinie] [Unser Anliegen: Information über
Holzverarbeitung]
[Angaben in eckigen Klammern bei kleiner Website nicht notwendig]
        </span>
    </div>

    <div class="side_content"></div>
</div>