<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h2 style="text-align: center;" >Ausstattung</h2>

        <div class="flex_row">
            <span>250 Liter Edelstahlkessel mit elektrischer Heizung, Rührwerk und digitaler Steuerung</span>
            <app-gallery-item-component path="kessel/Kessel_neu_2.jpg" description=""></app-gallery-item-component>
        </div>
        <hr>
        <div class="flex_row">
            <span>250 Liter Edelstahlläuterbottich</span>
            <app-gallery-item-component path="kessel/Kessel_laeuterbottich.jpg" description=""></app-gallery-item-component>
        </div>
        <hr>
        <div class="flex_row">
            <span>250 Liter Edelstahlgärbottich mit Kühlung</span>
            <app-gallery-item-component path="kessel/Kessel_neu_6.jpg" description=""></app-gallery-item-component>
        </div>
        <hr>
        <div class="flex_row">
            <span>Abfüllung KEG Fässer</span>
            <app-gallery-item-component path="bier/Bier_Fass_7.jpg" description=""></app-gallery-item-component>
        </div>        
        <hr>
        <div class="flex_row">
            <span>Lagerung des Bieres im gekühlten Sudhaus</span>
            <app-gallery-item-component path="bier/Bier_Fass_6.jpg" description=""></app-gallery-item-component>
        </div>

    </div>

    <div class="side_content"></div>
</div>


