


<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h1>Fotos</h1>

<hr>
<div class="titleBar">
    <h2>Hopfen</h2>
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#hopfen">
        <i class="bi bi-chevron-down"></i>
    </button>
</div>

<div class="collapse" id="hopfen">
    <div class="gallery">
        <hr>
        <app-gallery-item-component path="hopfen/Hopfen.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Ast.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Einzeln.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Kuebel_1.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Kuebel_2.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Kuebel_3.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Pflanze_1.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Pflanze_2.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Pflanze_3.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Sorten_1.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Sorten_2.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Trocknen_1.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Trocknen_2.jpg" description="Hopfen"/>
        <app-gallery-item-component path="hopfen/Hopfen_Trocknen_3.jpg" description="Hopfen"/>
    </div>
</div>


<hr>

<div class="titleBar">
    <h2>Bräuerei</h2>
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#braeuerei">
        <i class="bi bi-chevron-down"></i>
    </button>
</div>

<div class="collapse" id="braeuerei">
    <div class="gallery">
        <hr>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_1.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_2.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_3.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_4.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_5.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_6.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_7.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_8.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_9.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_10.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_11.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_12.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_13.jpg" description="Bier Schaum"/>
        <app-gallery-item-component path="braeuerei/Braeuerei_Schaum_14.jpg" description="Bier Schaum"/>
        
    </div>
</div>
    </div>

    <div class="side_content"></div>
</div>

