


<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h1>Fotos</h1>

    <hr>
    <div class="titleBar">
        <h2>Hopfen</h2>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#hopfen">
            <i class="bi bi-chevron-down"></i>
        </button>
    </div>

    <div class="collapse" id="hopfen">
        <div class="gallery">
            <app-gallery-item-component path="hopfen/Hopfen.jpg" description="Handvoll Hopfen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Ast.jpg" description="Hopfen am Ast"/>
            <app-gallery-item-component path="hopfen/Hopfen_Einzeln.jpg" description="Hopfen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Kuebel_1.jpg" description="Kübelvoll Hopfen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Kuebel_2.jpg" description="Kübelvoll Hopfen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Kuebel_3.jpg" description="Kübelvoll Hopfen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Pflanze_1.jpg" description="Hopfenpflanze"/>
            <app-gallery-item-component path="hopfen/Hopfen_Pflanze_2.jpg" description="Hopfenpflanze"/>
            <app-gallery-item-component path="hopfen/Hopfen_Pflanze_3.jpg" description="Hopfenpflanze"/>
            <app-gallery-item-component path="hopfen/Hopfen_Sorten_1.jpg" description="Hopfensorten in Gläser"/>
            <app-gallery-item-component path="hopfen/Hopfen_Sorten_2.jpg" description="Hopfensorten in Gläser"/>
            <app-gallery-item-component path="hopfen/Hopfen_Trocknen_1.jpg" description="Hopfen beim Trocknen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Trocknen_2.jpg" description="Hopfen beim Trocknen"/>
            <app-gallery-item-component path="hopfen/Hopfen_Trocknen_3.jpg" description="Hopfen beim Trocknen"/>
        </div>
    </div>

    <hr>

    <div class="titleBar">
        <h2>Ausstattung</h2>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#ausstattung">
            <i class="bi bi-chevron-down"></i>
        </button>
    </div>

    <div class="collapse" id="ausstattung">
        <div class="gallery">
            <app-gallery-item-component path="kessel/Kessel_alt_1.jpg" description="Alter Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_alt_2.jpg" description="Alter Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_alt_1.jpg" description="Alter Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_alt_3.jpg" description="Alter Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_1.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_2.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_3.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_4.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_5.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_6.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_7.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_8.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_9.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_10.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_11.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_neu_12.jpg" description="Neuer Kessel"/>
            <app-gallery-item-component path="kessel/Kessel_laeuterbottich.jpg" description="Edelstahlläuterbottich"/>
            
        </div>
    </div>

    <hr>

    <div class="titleBar">
        <h2>Bierschaum</h2>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#schaum">
            <i class="bi bi-chevron-down"></i>
        </button>
    </div>

    <div class="collapse" id="schaum">
        <div class="gallery">
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_1.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_2.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_3.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_4.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_5.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_6.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_7.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_8.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_9.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_10.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_11.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_12.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_13.jpg" description="Bierschaum"/>
            <app-gallery-item-component path="brauerei/Brauerei_Schaum_14.jpg" description="Bierschaum"/>
            
        </div>
    </div>

    <hr>
    <div class="titleBar">
        <h2>Abgefülltes Bier</h2>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#abgefuellt">
            <i class="bi bi-chevron-down"></i>
        </button>
    </div>

    <div class="collapse" id="abgefuellt">
        <div class="gallery">
            <app-gallery-item-component path="bier/Bier_Fass_1.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_2.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_3.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_4.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_5.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_6.jpg" description="Bier abgefüllt in Fässer"/>
            <app-gallery-item-component path="bier/Bier_Fass_7.jpg" description="Fässer beim Bier abfüllen"/>
            <app-gallery-item-component path="bier/Bier_Fass_8.jpg" description="Fässer beim Bier abfüllen"/>
            <app-gallery-item-component path="bier/Bier_Flasche_1.jpg" description="Flaschen beim Bier abfüllen"/>
            <app-gallery-item-component path="bier/Bier_Flasche_2.jpg" description="Bier abgefüllt in Flaschen"/>
            <app-gallery-item-component path="bier/Bier_Flasche_3.jpg" description="Bier abgefüllt in Flaschen"/>
            <app-gallery-item-component path="bier/Bier_Flasche_4.jpg" description="Bier abgefüllt in Flaschen + Kübelvoll Bier"/>
            <app-gallery-item-component path="bier/Bier_Glas_1.jpg" description="Bier im Glas"/>
            <app-gallery-item-component path="bier/Bier_Glas_2.jpg" description="Bier im Glas"/>
            <app-gallery-item-component path="bier/Bier_Glas_3.jpg" description="Bier in Gläser"/>
        </div>
    </div>

</div>

    <div class="side_content"></div>
</div>

