<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h2 style="text-align: center;" >Geschichte</h2>

        <h3>2007:</h3>

        <span>Die ersten Porbesuden wurden in einem 50 Liter Kessel gebraut</span>
        <div class="flex_box">
            <app-gallery-item-component path="kessel/Kessel_alt_2.jpg" description="" ></app-gallery-item-component>
            <app-gallery-item-component path="kessel/Kessel_alt_3.jpg" description="" ></app-gallery-item-component>
            <app-gallery-item-component path="kessel/Kessel_alt_1.jpg" description="" ></app-gallery-item-component>
        </div>
        <h3>2015:</h3>
        <span>Der neue Sudkessel mit Rührwerk ist aus Edelstahl gefertigt und verfühtr über eine elektische Heizung inkulsive digitalter Temperaturanzeige</span>
        <div class="flex_box">
            <app-gallery-item-component path="kessel/Kessel_neu_1.jpg" description="" ></app-gallery-item-component>
            <app-gallery-item-component path="kessel/Kessel_neu_4.jpg" description="" ></app-gallery-item-component>
            <app-gallery-item-component path="kessel/Kessel_neu_7.jpg" description="" ></app-gallery-item-component>
        </div>

    </div>

    <div class="side_content"></div>
</div>


