<nav class="navbar sticky-top navbar-expand-md header">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#/home">Dickbräu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class ="offcanvas offcanvas-end offscreen_color" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dickbräu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('home')">Home</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('geschichte')">Geschichte</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('zutaten')">Zutaten</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('ausstattung')">Ausstattung</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('bier')">Bier</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active title" (click)="navigateTo('fotos')">Fotos</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
