/* You can add global styles to this file, and also import other style files */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    background-color: chocolate;
}

.main_content {
    width: 60%;
    background-color: #FFEBCD;
    padding: 20px;
    padding-bottom: 50px;
}

.side_content {
    width: 20%;
    background-color: #CCBCA3; 
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .side_content{
        width: 0%;
        padding: 0px;
    }

    .main_content{
        width: 100%;
    }
}