.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  background-color: #99815C;
  
}