<div class="content">
    <div class="side_content"></div>

    <div class="main_content">
        <h2 style="text-align: center;" >Biersorten:</h2>

        <h3>Festbier:</h3>
        <span>11,3° Stammwürze</span>
        <br>
        <span>Der vorwiegende Teil meines Bieres ist ein ausgewogenes, leicht fruchtiges, hopfiges Bier, gebraut nach einem Festbier-Rezept.</span>
        
        <br>
        <span class="category_title">Bitterhopfen:</span>
        <ul>
            <li>
                <span>Merkur</span>
            </li>
            <li>
                <span>Target</span>
            </li>
        </ul>
        
        <span class="category_title">Aromahopfen:</span>
        <ul>
            <li>
                <span>Smaragd</span>
            </li>
            <li>
                <span>Perle</span>
            </li> 
            <li>
                <span>Hersbrucker</span>
            </li> 
            <li>
                <span>Mandarina Bavaria</span>
            </li>
        </ul>
        
        <h3>Sonstige Biersorten</h3>
        
        <span class="category_title">Bockbier:</span>
        <br>
        <span>17° Stammwürze</span>
        <br>
        
        <span class="category_title">Doppelbock:</span>
        <br>
        <span>26° Stammwürze</span>

    </div>

    <div class="side_content"></div>
</div>


